openapi: 3.0.3
info:
  title: Berkat Auto - Dokumen API Cloud Function
  description: >-
    Swagger ini adalah dokumentasi dan uji coba API untuk aplikasi website Berkat Auto.
  termsOfService: 
  contact:
    email: adam.ghafara.job@gmail.com
  license:
    name: Berkat Auto Backend Package
    url: https://github.com/berkatauto/berkat-bepkg
  version: v1.0.0
externalDocs:
  description: Repo GCF
  url: https://github.com/berkatauto/berkat-gcf
servers:
  - url: https://asia-southeast2-gis-moni.cloudfunctions.net
tags:
  - name: data
    description: Data Article
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/gcf/get/
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/gcf/post/
  - name: user
    description: Get Token and Authorize
paths:
  /berkatauto-cf:
    get:
      tags:
        - data
      summary: Get Articles
      description: List all articles
      operationId: articleSet
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peta'
        '400':
          description: Invalid status value
  /berkatauto-signIn:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    Peta:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    Auth:
      type: object
      properties:
        username:
          type: string
          example: admin
        password:
          type: string
          example: 12345
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: login success
        token:
          type: string
          example: fehguy
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
